/*
Error: Undefined variable: "$img_path".
        on line 34 of /Volumes/WORK/CAP-SASS/cap-os/components/header/_header_homepage-hero-box.scss
        from line 3 of /Volumes/WORK/CAP-SASS/cap-os/components/header/header.scss

Backtrace:
/Volumes/WORK/CAP-SASS/cap-os/components/header/_header_homepage-hero-box.scss:34
/Volumes/WORK/CAP-SASS/cap-os/components/header/header.scss:3
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/variable.rb:49:in `_perform'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/node.rb:50:in `perform'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/string_interpolation.rb:83:in `_perform'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/node.rb:50:in `perform'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/funcall.rb:170:in `perform_arg'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/funcall.rb:124:in `block in _perform'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/funcall.rb:124:in `each'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/funcall.rb:124:in `each_with_index'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/funcall.rb:124:in `each'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/funcall.rb:124:in `map'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/funcall.rb:124:in `_perform'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/script/tree/node.rb:50:in `perform'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:394:in `visit_prop'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:430:in `block (2 levels) in visit_rule'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:430:in `map'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:430:in `block in visit_rule'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:428:in `visit_rule'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `block (2 levels) in visit_import'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `map'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:325:in `block in visit_import'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `block in with_import'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:88:in `with_import'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `block in with_base'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:115:in `with_frame'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/stack.rb:79:in `with_base'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `map'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/base.rb:36:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:36:in `css_tree'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/tree/root_node.rb:20:in `render'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/engine.rb:268:in `render'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:404:in `run'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/sass_scss.rb:62:in `process_result'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:52:in `parse'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/lib/sass/exec/base.rb:19:in `parse!'
/Volumes/WORK/TOOLS/Software/CodeKit.app/Contents/Resources/engines/scss/bin/scss:13:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$img_path\".\A         on line 34 of /Volumes/WORK/CAP-SASS/cap-os/components/header/_header_homepage-hero-box.scss\A         from line 3 of /Volumes/WORK/CAP-SASS/cap-os/components/header/header.scss"; }
