/*
 Header
================================*/

//head-box settings

$head-box-height:auto;

// LAYOUT =============================================================
.head-box{
	height: #{$head-box-height};
	width: 100%;
    margin: 0;
    padding: 100px 15px 50px 15px;
    text-align: center;
}

// MODULE =============================================================

.head-box h1, 
.head-box h2, 
.head-box h3 { 
	padding:0 0 4px 0; 
	margin:0 0 8px 0;
}

// STATE =============================================================


// THEME =============================================================

.head-box {
	background-color:transparent;
	background-image: url("#{$img_path}/header-image.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.head-box h1 {
    font-family: "DINCondensedBold" !important;
    font-size: 4.8vmax; /*font-size: 48px;*/
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 4.8vmax; 
}

.head-box h1 small {
    font-size: 7.5vmin;
    font-weight: 400;
    letter-spacing: 0.1em;
    line-height: 8.5vmin;
}

.head-box h1 .fa {
    font-size: 7.5vmin;
    margin-bottom: 15px;
    font-size: 8.5vmin;
}

.head-box h2 {
    font-size: 24px;
    font-weight: 300;
}

.head-box h3 {
    font-size: 18px;
    font-weight: 300;
}

.head-box h1:empty, .head-box h2:empty, .head-box h3:empty  {
   display: none;
}


